*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 84px;
    padding-right: 84px;
}

/* header */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 47px;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
}

.nav a{
    padding: 9px 32.1px 7.12px 32px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    color: #262626;

}

.nav span{
    background-color: #4CE0D7;
    border-radius: 40px;
}

.nav span a:hover{
    background-color: #F9F9F9;
    ;
}

.nav a:hover{
    background-color: #4CE0D7;
    border-radius: 40px;
}

.nav img{
    transition: 0.2s;
}

.nav img:hover{
    opacity: 0.8;
}

